form {
    text-align: right;
     font-size: 1.2em;
}
form input {
    margin: 7px;
    border-radius: 5px;
    width: 2.7rem;
    height: 1.6rem;
font-size: 1em;
    text-align: center
}

.wrongAmount {
    color: #8a2b06;
}

form button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    
}

form button:hover,
form button:active {
    background-color: #641e03;
    border-color: #641e03;
}